@model IEnumerable<TechBooks.Models.Category>

@{
    ViewData["Title"] = "Manage Categories";
}

<p>
    <a asp-action="AddOrUpdate" class="btn btn-primary">Click here to Add</a>
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.CategoryId
            </td>
            <td>
                @item.Description
            </td>
            <td>
                <a asp-action="AddOrUpdate" asp-route-id=@item.CategoryId class="btn btn-outline-primary">Update</a>
                <form method="post" asp-action="Remove">
                    <input type="hidden" name="CategoryId" value="@item.CategoryId" />
                    <input type="submit" value="Remove" class="btn btn-danger" onclick="return removeConfirmation();" />
                </form>
            </td>
        </tr>
    }
</table>